.add-product-container {
  width: 600px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.15);
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.add-product-container h2 {
  text-align: center;
  font-size: 28px;
  color: black;
  margin-bottom: 30px;
}

.add-product-container form {
  display: flex;
  flex-direction: column;
}

.add-product-container form div {
  margin-bottom: 20px;
}

.add-product-container label {
  font-size: 16px;
  color: black;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.add-product-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 40px;
  border: 2px solid #5b5f5b;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  transition: border-color 0.3s;
}

.add-product-container input:focus {
  border-color: #4caf50;
}

.add-product-container button {
  background: transparent;
  border: 2px solid #4caf50;
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #4caf50;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin-top: 20px;
}

.add-product-container button:hover {
  background: #4caf50;
  color: white;
}
